<span class="preheader">Usa este enlace para restablecer tu contraseña. </span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td class="email-masthead">
                        <a href="http://localhost:4000">
                          <img class="email-masthead_logo" src="cid:@unique-logo-cid" alt="USFQ Tutorías Logo">
                        </a>
                    </td>
                </tr>
                <!-- Email Body -->
                <tr>
                    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
                        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                            <!-- Body content -->
                            <tr>
                                <td class="content-cell">
                                    <div class="f-fallback">
                                        <h1>Hola {{user.nombres}},</h1>
                                        <p>Recientemente solicitaste restablecer la contraseña para tu cuenta de USFQ Tutorías. Si no solicitaste este service puedes ignorar este correo, de lo contrario haz click en el siguiente botón.</p>
                                        <!-- Action -->
                                        <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                                            <tr>
                                                <td align="center">
                                                    <!-- Border based button
                                                        https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                        <tr>
                                                            <td align="center">
                                                                <a href="http://localhost:4000/create-password/{{user.id}}" class="f-fallback button button--redwine email-link" target="_blank">Restablecer Contraseña</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <p>Atentamente,
                                            <br>El Equipo de USFQ Tutorías
                                        </p>
                                        <!-- Sub copy -->
                                        <table class="body-sub" role="presentation">
                                            <tr>
                                                <td>
                                                    <p class="f-fallback sub">Si tienes algún inconveniente con el botón superior, copia y pega el siguiente enlace en tu navegador.</p>
                                                    <p class="f-fallback sub">http://localhost:4000/create-password/{{user.id}}</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                            <tr>
                                <td class="content-cell" align="center">
                                    <p class="f-fallback sub align-center">
                                        Universidad San Francisco de Quito (USFQ)
                                        <br>Diego de Robles y Vía Interoceánica
                                        <br>
                                        <a class="email-link" href="tel:+593-2-297-1700">
                                        +593 2 297 1700
                                        </a>
                                    </p>
                                    <p class="f-fallback sub align-center">&copy; 2020 USFQ Tutorías. Todos los derechos reservados.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>