<span class="preheader">Usa este enlace para restablecer tu contraseña. Solo será valido durante 24 horas.</span>
    <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td align="center">
          <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td class="email-masthead">
                <a href="https://example.com" class="f-fallback email-masthead_name email-link">
                USFQ Tutorías
              </a>
              </td>
            </tr>
            <!-- Email Body -->
            <tr>
              <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
                <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">
                      <div class="f-fallback">
                        <h1>Hola {{user.nombres}},</h1>
                        <p>Recientemente solicitaste restablecer la contraseña para tu cuenta de USFQ Tutorías. Haz click en el siguiente botón para hacerlo: <strong>Este servicio estará disponible dentro las próximas 24 horas.</strong></p>
                        <!-- Action -->
                        <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td align="center">
                              <!-- Border based button
           https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                <tr>
                                  <td align="center">
                                    <a href="http://localhost:4000/create-password/{{user.id}}" class="f-fallback button button--green email-link" target="_blank">Restablecer Contraseña</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <p>Por motivos de seguridad este pedido fue realizado desde un dispositivo [dispositivo] con el nombre de [nombre]. Si no solicitaste este servicio por favor ignora este correo o <a href="{{support_url}}" class="email-link">contactanos</a> si tienes alguna pregunta.</p>
                        <p>Atentamente,
                          <br>El Equipo de USFQ Tutorías</p>
                        <!-- Sub copy -->
                        <table class="body-sub" role="presentation">
                          <tr>
                            <td>
                              <p class="f-fallback sub">Si tienes algún inconveniente con el botón superior, copia y pega el siguiente enlace en tu navegador.</p>
                              <p class="f-fallback sub">http://localhost:4000/create-password/{{user.id}}</p>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="content-cell" align="center">
                      <p class="f-fallback sub align-center">&copy; 2020 USFQ Tutorías. Todos los derechos reservados.</p>
                      <p class="f-fallback sub align-center">
                        Universidad San Francisco de Quito (USFQ)
                        <br>1234 Street Rd.
                        <br>Suite 1234
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>